<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Declaration des beans -->
	<import resource="classpath:config/beans-config.xml"/>
	
	<import resource="classpath:config/data-source-config.xml"/>
	
	<import resource="classpath:config/internationalisation-config.xml"/>
	
	 <import resource="classpath:config/security-config.xml"/> 
	
</beans>